#iconfb{
    color: white;
    margin: none;
    background-color:#3b5998;
    
    
}

#facebook{
    background-color:#3b5998;
    margin-left: 15px;

    
}

#iconcog{
    color: white;
    margin: none;
    background-color:black;
}

#cog{
    background-color:black;
    margin-left: 195px;
}

#confirm{

    border-radius: 7px;
    
}

h2{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

button{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    
}

button:hover{
    background:rgba(231, 231, 1, 0.884);
}

ion-title{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

